body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .main-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .header {
    background-color: #1e3547;
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    font-size: 13px;
  }
  
  .content-area {
    margin-left: 125px;
    margin-top: 20px;   
    width: calc(100% - 125px); 
    height: calc(100% - 60px); 
    position: relative;
  }
  
  .Sidebar {
    top: 60px;
  }
  